*{
    font-family: "Inter", sans-serif;
    background-color: #09090B;
    padding: 0px;
    margin: 0px;
}


a{
    text-decoration: none;
    color: inherit;
}

.esconder{
    display: none;
}

/* STYLE HEADER */

header{
    border-bottom: 1px solid gray;
    height: 56px;
    align-items: center;
    align-content: center;
}

header img{
    padding-top: 3px;
}

header .margin{
    justify-content: space-between;
    display: flex;
    margin: 0 16px;
}

header .margin div{
    display: flex;
    gap: 16px;
    align-items: center;
}

header #login{
    color: white;
    font-weight: 400;
    font-size: 14px;
}

header #signUp{
    background-color: white;
    color: black;
    width: 69px;
    height: 32px;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
}

header .esconder{
    display: none;
}



/* BODY STYLE */

main .margin{
    max-width: 311px;
    margin: auto;
}


/* SECTION TOP */

main .top-section h1{
    color: white;
    text-align: center;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 45px;
    line-height: 48px;
    padding-top: 48px;
    letter-spacing: -0.64px;
}

main .top-section p{
    color: #D9D9D9;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.30px;
    text-align: center;
    margin-top: 26px;
}

main .top-section .button{
    background-color: white;
    color: black;
    width: 122px;
    height: 32px;
    margin: auto;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 34px;
}

main #perfil{
    border-radius: 4px;
    width: 311px;
    height: 192px;
}

main #perfil2{
    border-radius: 4px;
    width: 311px;
    height: 192px;

}


/* SECTION SOLUTIONS */

main .solutions{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.32px;
    color: white;
    margin-top: 64px;
}

main .solutions h2{
    margin-bottom: 64px;
}

main .solutions .flex{
    display: flex;
    flex-direction: column;
    gap: 57px;
}

main .solutions .flex div{
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid #27272A;
    border-radius: 6px;
    align-content: center;
}

main .solutions .flex div img{ 
    padding-top: 2px;
}

main .solutions h3{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    letter-spacing: 0.30px;
    text-align: left;
    color: #D9D9D9;
    margin-top: 31px;
    margin-bottom: 31px;
}

main .solutions p{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #D9D9D9;
    text-align: left;
    letter-spacing: 0.40px;
}


/* SECTION instantSetup */

main .instantSetup{
    color: white;
    text-align: center;
}

main .instantSetup h2{
    margin-top: 96px;
    margin-bottom: 31px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

main .instantSetup p{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.50px;
    color: #D9D9D9;
    margin-bottom: 28px;
}


/* SECTION DEMO */

main .demo{
    text-align: center;
    color: white;
}

main .demo h2{
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.8px;
    margin-top: 96px;
    margin-bottom: 30px;
}

main .demo p{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 24px;
}

main .demo .button{
    background-color: white;
    color: black;
    width: 122px;
    height: 32px;
    margin: auto;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 96px;

}



/* FOOTER STYLE */

footer{
    height: 48px;
    border-top: 1px solid gray;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: white;
}

footer div{
    display: flex;
    gap: 12px;
}

footer div p{
    color: #D9D9D9;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}


@media (min-width: 1065px) {


    .esconder{
        display: block;
    }

    .mostrar{
        display:none;
    }

    header .margin{
        margin: 0 112px;
    }

    header .margin div{
        gap: 32px;
    }

    header .esconder{
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #D9D9D9;
    }

    main .margin{
        max-width: 1024px;
        margin: auto;
    }

    main #perfil{
        width: 1024px;
        height: 632.53px;
        margin-bottom: 144px;
    }

    main #perfil2{
        width: 672px;
        height: 415.1px;
        margin-bottom: 144px;
    }

    main .solutions .flex{
        display: flex;
        flex-direction:row;
        gap: 48px;
    }

    main .solutions .flex article{
        width: 288px;
        box-sizing: border-box;
    }

    main .top-section h1{
        width: 672px;
        margin: auto;
        letter-spacing: -1px;
        margin-top: 150px;
    }

    main .top-section p{
        width: 672px;
        margin: auto;
        letter-spacing: 2px;
        margin-top: 30px;
        line-height: 20px;
    }

    main .top-section .button{
        letter-spacing: 0px;
        margin-bottom: 48px;
    }

    main .solutions h2{
        font-weight: 800;
        font-style: Extra Bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: 0.30px;
    }

    main .instantSetup h2{
        font-weight: 800;
        font-size: 48px;
        line-height: 48px;
        width: 672px;
        margin: auto;
        margin-top: 144px;
        margin-bottom: 15px;
    }

    main .instantSetup p{
        letter-spacing: 0.30px;
        width: 600px;
        margin: auto;
        margin-bottom: 20px;
    }
}
